# respect prod versions, for consistency
--constraint requirements.prod.txt
# install opensafely as editable package, with tracing deps
--editable file:.[tracing]
# packaging tooling
pip-tools
vendoring
# dev/test dependencies
black
pytest
requests-mock
wheel
pre-commit
coverage
ruff
pytest-cov
pytest-freezer
