# respect prod versions, for consistency
--constraint requirements.prod.txt
# install opensafely as editable package, with tracing deps
--editable file:.[tracing]
# packaging tooling
pip-tools
vendoring
# dev/test dependencies
pytest
requests-mock
pre-commit
coverage
ruff
pytest-cov
pytest-freezer
# 2026-08-05: Pin pip as 26.2 breaks pip-tools
# https://github.com/jazzband/pip-tools/issues/2436
pip<26.2
