name: Tests

on: [push]

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-2022]
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]
    runs-on: ${{ matrix.os }}
    name: Run test suite
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3
    - name: Setup tools
      uses: opensafely-core/setup-action@v1
      with:
        python-version: ${{ matrix.python-version }}
        install-uv: true

    - name: Run tests on ${{ matrix.os }}
      if: ${{ matrix.os == 'ubuntu-22.04' }}
      run: |
        export PYTHON_VERSION=python${{ matrix.python-version }}
        just test -vvv

    - name: Run tests on windows
      if: ${{ matrix.os == 'windows-2022' }}
      run: |
        # windows powershell: set to executable w/o version, as it doesn't have one on windows
        $Env:PYTHON_VERSION = "python"
        just test-no-docker -vvv
